
html {
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
    color: #e7dfdd;
    background-color: lightseagreen;
    border: solid white;
}

h1 {
    top: 0;
    left: auto;
    right: auto;
    text-align: center;
    text-decoration: dotted;
    color: red;
}

.ingredients {
    width: 500px;
    margin: 0em auto;
}